<launch>

  <param name="cb_annotator/marker_size" value="20" />

  <!-- Chains -->
  <include file="$(find calibration_launch)/capture_data/chain_settler.launch" ns="gripper_chain" />

  <include file="$(find calibration_launch)/capture_data/chain_settler.launch" ns="head_chain" />


  <!-- Cameras -->
  <include file="$(find calibration_launch)/launch/monocam_pipeline.launch" ns="/camera" >
    <arg name="scaling" value="0.25" />
    <arg name="image_topic" value="image_rect" />
  </include>

  <!-- Intersections -->
  <node type="interval_intersection_action"
        pkg="interval_intersection"
        name="interval_intersection"
        output="screen">
    <remap from="camera" to="camera/settled_interval" />
    <remap from="gripper_chain" to="gripper_chain/settled_interval" />
    <remap from="head_chain" to="head_chain/settled_interval" />
  </node>

</launch>
