<launch>
  <arg name="image"/>
  <arg name="viewer" default="True" />
  <arg name="marker_size" default="5"/>
  <arg name="marker_width" default="2"/>
  <arg name="scaling" default="1" />
  <arg name="autostart" default="True" />
  <arg name="num_rows" default="6" />
  <arg name="num_cols" default="8" />
  <arg name="dim" default="1" />
  <arg name="pattern" default="0" />
  <arg name="flags" default="0" />

  <node type="calibration_detector.py"
        pkg="image_cb_detector"
        name="cb_detector_config"
        args="_autostart:=$(arg autostart) _num_rows:=$(arg num_rows) _num_cols:=$(arg num_cols) _dim:=$(arg dim) _pattern:=$(arg pattern) _flags:=$(arg flags)"
        output="screen"
        required="true">
    <remap from="image_raw" to="$(arg image)" />
  </node>

  <node type="image_annotator"
        pkg="image_cb_detector"
        name="calibration_annotator"
        output="screen">
    <remap from="image" to="calibration_image" />
    <param name="marker_size" type="int" value="$(arg marker_size)" />
    <param name="marker_width" type="int" value="$(arg marker_width)" />
    <param name="scaling" type="double" value="$(arg scaling)" />
  </node>

  <node if="$(arg viewer)" type="image_view" pkg="image_view" name="$(anon image_view)">
    <remap from="image" to="annotated" />
  </node>
</launch>
